<html>
<head>
<meta charset="UTF-8">
<title>NCL-CTF Site</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vms/style.css' %}">
</head>
<body>


<div class="sidenav">
	<a href="{% url 'index' %}">Summary</a>
	<a href="{% url 'components' %}">Components</a>
	<a href="{% url 'landpage' %}"> > Landing Page</a>
	<a href="{% url 'dashboard' %}"> > Dashboard</a>
	<a href="{% url 'challenges' %}"> > Challenges</a>
	<a href="{% url 'monitor' %}"> > Monitoring</a>
	<a href="{% url 'stats' %}">Statistics</a>
	<a href="#" onClick="document.getElementById('logoutform').submit()"><button 	type="button">Logout</button></a>
	<form id="logoutform" method="POST" action="{% url 'login' %}">
	{% csrf_token %}
	<input type="hidden">
	</form>
</div>

<div class="header">
<h1>ncl-ctf </h1>
<p>NCL Capture-the-Flag Provisioning Platform</p>
</div>
<div class="main">
<p> </p>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user.</p>
{% endif %}
<table border="1" width="600">
<tr>
<td>Components</td>
<td>Hostname</td>
<td>Status</td>
<td>Action</td>
</tr>
<p> </p>
<b>Summary</b>

{% for component in data %}
<tr>
<td>{{ component.Type }}</td>
<td>
{{ component.hostname }}</td>
<td>{{ component.status }} </td>
</tr>
{% endfor %}
</table>

</div>

