<html>
<head>
<meta charset="UTF-8">
<title>NCL-CTF Site</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vms/login.css' %}">
</head>

<h1>NCL Capture-the-Flag Provisioning Platform</h1>

<h2>Log In</h2>
<!--Login--> 
<div class="container py-5">
  <form method="POST">
    {% csrf_token %}
    {{ login_form }}
    <br/>
    <br/>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>

<p> Don't have an account? Sign up here! </p>
<p><a href="{% url 'register' %}">Register here!</a></p>

